{{ partial "head.html" . }}
{{ partial "header.html" . }}

	        {{ range .Site.Taxonomies.groups.en_re.Pages.ByWeight }}
	<section id="{{ .Slug }}" class="section">
        <div class="container">
		      <h2>{{ .Title }}</h2>
            <div class="row">
                 <div class="col-xs-12 col-md-6 text-justify">
		      {{ .Content }}
            
                </div>
                <div class="col-xs-12 col-md-6">
                    <img class="img-responsive img-rounded" alt="Le Refuge Entre Deux Eaux" title="Refuge Entre Deux Eaux" src="/img/refuge.jpg"/>
                </div>
                            <img class="img-responsive img-rounded" alt="Vue panoramique sur le Refuge Entre Deux Eaux" title="Refuge Entre Deux Eaux" src="/img/refuge_wide.jpg"/>

            </div> 
        </div>
	</section>
{{ end }} 
{{ range .Site.Taxonomies.groups.en_pr.Pages.ByWeight }}
	<section id="{{ .Slug }}" class="bg-primary">
        <div class="container text-center">
		      <h2>{{ .Title }}</h2>
            <hr class="light">
		      {{ .Content }}

            </div>    
        
	</section>
	       {{ end }}

	        {{ range .Site.Taxonomies.groups.en_do.Pages.ByWeight }}
	<section id="{{ .Slug }}" class="section">
        <div class="container">
		      <h2>{{ .Title }}</h2>
            <div class="row">
                <img class="img-responsive img-rounded" alt="Le Refuge Entre Deux Eaux" title="Refuge Entre Deux Eaux" src="/img/dortoirPano.jpg"/>
                <br/><br/>
                 <div class="col-xs-12 col-md-6 text-justify">
                     {{ .Content }}
            
                </div>
                <div class="col-xs-12 col-md-6">
                    <a  href="{{ .Site.BaseURL }}/reservation"><button type="button" class="btn btn-primary">Réservation</button></a>
                </div>
            </div>    
        </div>
	</section>
	       {{ end }}
	        {{ range .Site.Taxonomies.groups.en_ma.Pages.ByWeight }}
	<section id="{{ .Slug }}" class="bg-primary">
        <div class="container">
		      <h2>{{ .Title }}</h2><br/>
            <div class="row">
                 <div class="col-xs-12 col-md-6 text-justify">
		              <img class="img-responsive img-rounded" alt="Le Refuge Entre Deux Eaux" title="Refuge Entre Deux Eaux" src="/img/manger.jpg"/>
                </div>
                <div class="col-xs-12 col-md-6">
                    {{ .Content }}
                </div>

            </div>    
        </div>
	</section>
	       {{ end }}

	        {{ range .Site.Taxonomies.groups.en_ta.Pages.ByWeight }}
	<section id="{{ .Slug }}" class="section">
        <div class="container">
		      <h2>{{ .Title }}</h2>
            <div class="row">
                 <div class="col-xs-12 col-md-6 text-justify">
                     <img class="img-responsive img-rounded" alt="Le Refuge Entre Deux Eaux" title="Refuge Entre Deux Eaux" src="/img/vache.jpg"/>
                </div>
                <div class="col-xs-12 col-md-6">
                    {{ .Content }}<br/>
                     <a  href="{{ .Site.BaseURL }}/reservation"><button type="button" class="btn btn-primary">Réservation</button></a>
                </div>

            </div>    
        </div>
	</section>
	       {{ end }}

	        {{ range .Site.Taxonomies.groups.en_co.Pages.ByWeight }}
	<section id="{{ .Slug }}" class="bg-primary">
        <div class="container">
		      <h2>{{ .Title }}</h2>
            <div class="row">
                 <div class="col-xs-12 col-md-6 text-justify">
		      {{ .Content }}
                </div>
                <div class="col-xs-12 col-md-6">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <video autoplay loop class="embed-responsive-item">
                        <source src="/img/access.mp4" type="video/mp4">
                        </video>
                    </div>    
                    <br/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20255.173580134608!2d6.8212201674776765!3d45.366659612043165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47899e52bf7cb36f%3A0x5354687d048b4b98!2sRefuge+d&#39;Entre+Deux+Eaux!5e1!3m2!1sde!2sfr!4v1473867553502" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>    
        </div>
	</section>
	       {{ end }}



{{ partial "footer.html" . }}
