<!DOCTYPE html>
<html lang="{{ .Params.lang }}">
<head>
	<meta charset="utf-8">
	{{ if .Title }}
		<title>{{ (index .Site.Data.translations .Params.lang).head_title }} - {{ .Title }}</title>
	{{ end }}
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!-- Bootstrap Core CSS -->
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ .Site.BaseURL }}/css/creative.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/main.css" rel="stylesheet">

	<link rel="stylesheet" href="/main.css">
    
</head>
<body id="page-top">
